            <div class="header-container">
              <span>{{labelInput}}</span>
              <input id="inputBusquedaArtista" name="artista" type="text" placeholder="Artista" />
              <input id="inputBusquedaTitulo" name="titulo" type="text" placeholder="titulo" />
              <input id="inputBusquedaAnio" name="anio" type="text" placeholder="Anio Lanzamiento"/>
              <button id="btnBusqueda">buscando</button>
            </div>
              